{% extends 'base.html' %}

{% block content %}
<div class="about-me mt-4">
    <h2 class="text-warning text-center mb-3">Sobre mí</h2>
    <p class="text-center">Hola, mi nombre es Maximo Nieva, tengo 19 años y me apasiona la idea de aprender y crear
        cosas.
        Estoy en el tercer año de Ingenieria de Software y quiero poner en practica mis conocimientos, 

    <p class="text-center ">
        no se mucho de
        algo aun pero estoy en ello, me encanta trabajar en equipo y creo que sere un gran lider en el futuro. Soy una
        persona
        determinada y siempre alcanzo mis objetivos mas alla de los obstaculos.
    </p>

    <p class="text-center">Durante el curso aprendi mucho de Python y Django y creo que descubri el lenguaje que quiero
        profesionalizar, me gusta mucho la flexibilidad que tiene y la intrinseca relacion que tiene con la

    </p>

    <p class="text-center">
        IA, asi que me viene genial. Muchas gracias por leer mi proyecto que realice con el material del curso y ayuda
        de las Inteligencias Artificiales, foros y paginas relacionadas.
    </p>


    <p class="text-center">Tecnologías utilizadas: Python, Django, HTML, CSS, Bootstrap, FontAwesome</p>
</div>
{% endblock %}